@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");
@font-face {
    font-family: "Booter - Zero Zero";
    src: url("../font/Booter - Zero Zero.woff") format("woff"),
        url("../font/Booter - Zero Zero.woff2") format("woff2");
        font-weight:normal;
        font-style: normal;

}
.content section {
    margin: 1em;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}


* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html,
body {
    margin: 0;
    padding: 0 6%;

}

.Nav ul {
    margin: 0;
}

.Nav li {
    display: inline;

}

.Nav a {
    display: inline-block;
    padding: 0.5em;
    color: white;
    text-decoration: none;
}

.Nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.Main-Nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);

}

.Main-Nav li {
    padding: 0 5%;
}

.Main-Header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("../image/Header\ Background.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}
.album-hearder{
    background-color: rgba(0, 0, 0, .6);
    background-image: url("../image/Header\ Background.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    color: wheat;
}
.band-name-large{
    font-size: 8em;
}
h2{
    font-family: Metal Mania;
    font-size: 2.5em;
    font-weight: normal;
    text-align: center;
    color: black;
    

}
h3{
    font-family: Metal Mania;
}
h4{
    font-family: Metal Mania;
}
.about-band-image{
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;

}
.main-footer{
    background-color: aqua;
    color: white;
    padding: 0.25em 0;

}
.main-footer-container{
    display: flex;
    align-items: center;
}
.main-footer-container ul{
    flex-grow: 1;
    text-align: end;
}
.footer-nav li{
    padding: 0 0.5em;
}
.footer-nav img{
    width: 30px;

}

