.box-1{
    font-family: Arial, Helvetica, sans-serif;
    border-right: 5px red solid;
}
*{
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}
html, body{
    margin:0;
    padding:0;

}
.Nav ul{
    margin: 0;
}
.Nav li{
    display: inline;
}
.Nav a {
    display: inline-block;
    padding: 0.5em;
    color: white;
    text-decoration: none;
}

.Main-Header{
    background-color: rgba(0, 0, 0, .6);
    background-image: url("../image/Header\ Background.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}